#box {
	width: 500px;
	height: 400px;
	margin: 0 auto;
	margin-top: 200px;
	overflow: hidden;
	background-color: background: #fd746c;
	background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
	background: linear-gradient(to right, #ff9068, #fd746c);
}

#text {
	font-size: 50px;
	color: white;
	padding-top: 200px;
	text-align: center;
	line-height: 100px;

}
